/*
TRAINEE Bootstrap Sass Theme
Author: Terrell Summers
Version 0.0.1
*/
/* BASE- Base styles, variables, mixins, etc*/
/* BASE */
body {
  background-color: #00060b;
  font-family: "Open Sans", Arial, sans-serif; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  min-width: 320px;
  position: relative; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

/* MODULES- Individual Site Components*/
.btn {
  padding: 6px 24px; }

.btn-default {
  color: #ffffff;
  background-color: #007aff;
  border: none;
  border-radius: 4px; }

.btn-primary {
  background-color: #ffffff;
  color: #007aff;
  border: none;
  padding: 10px; }

.btn-primary:hover {
  background-color: #007aff;
  color: #ffffff; }

.btn-link {
  background-color: #50565b;
  color: #ffffff;
  text-decoration: none; }

.btn-link:hover {
  background-color: #cacccd;
  color: #ffffff;
  text-decoration: none; }

.btn-success {
  color: #ffffff;
  background-color: #007aff;
  border-radius: 0px;
  text-decoration: none;
  border-color: #007aff; }

.btn-success:hover {
  background-color: #007aff;
  color: #ffffff;
  text-decoration: none; }

.redo {
  float: right;
  display: block;
  margin: 15px;
  padding: 5px 15px; }

.grid {
  padding-right: 0; }

.btn-screen-nav {
  position: absolute;
  height: 100%;
  border-radius: 0;
  width: 140px; }

.back {
  left: 0;
  top: 0; }

.continue {
  right: 0;
  top: 0; }

.btn-top {
  margin-top: 8px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-family: 'Open Sans',sans-serif; }
  .btn-top .fa {
    line-height: 30px;
    vertical-align: middle; }

/*Splash*/
.splash {
  background: url(../img/splash.jpg) no-repeat center center fixed;
  background-size: cover; }
  .splash h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    line-height: 120%;
    padding: 20px;
    margin: 0; }
  .splash h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: lighter;
    padding: 15px; }

#splash-title {
  margin: 150px auto;
  text-align: center;
  width: 500px;
  position: relative;
  top: 50%; }

hr {
  border: solid #ffffff;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  width: 15%;
  margin: 0 auto; }

#splash-title a {
  text-decoration: none;
  padding: 20px 40px;
  font-size: 18px; }

/*UCMJ Drawer*/
#draw-header {
  background-color: #1b2631;
  padding: 15px;
  color: #ffffff;
  display: block;
  clear: both;
  min-height: 70px;
  position: relative; }
  #draw-header img {
    float: left;
    margin-right: 12px; }
  #draw-header h5 {
    font-size: 16px;
    float: left; }

.drawer h3 {
  color: #007aff;
  padding: 15px;
  margin: 0; }

.drawer i {
  background-color: rgba(202, 204, 205, 0.4);
  color: #00060b;
  padding: 8px 15px;
  display: block; }

.wsmenu > .wsmenu-list > li > span {
  font-size: 10px; }

/*Tiles*/
#grid > .grid:last-child {
  padding-right: 15px; }

.tile, .ucmj, .absence, .failure, .false, .drunken, .wrong, .rape, .larceny, .assault {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  display: block;
  color: #ffffff;
  margin-bottom: 30px; }

.tile-hover a {
  text-decoration: none; }

.tile-content {
  padding: 20px;
  min-height: 166px; }
  .tile-content h2 {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px; }
  .tile-content h3 {
    margin-top: 5px;
    font-size: 18px; }
  .tile-content span {
    font-weight: lighter;
    font-size: 10px; }
  .tile-content p {
    font-size: 12px; }

.status {
  display: inline-block;
  margin: 0;
  width: 100%; }
  .status p {
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 20px; }

.ucmj {
  background: url(../img/all-articles.jpg); }

.primer {
  position: relative;
  top: 45px;
  margin: 0 auto; }

.absence {
  background: url(../img/absence-article.jpg); }

.failure {
  background: url(../img/failure-article.jpg); }

.false {
  background: url(../img/false-article.jpg); }

.drunken {
  background: url(../img/drunken-article.jpg); }

.wrong {
  background: url(../img/wrongful-article.jpg); }

.rape {
  background: url(../img/rape-article.jpg); }

.larceny {
  background: url(../img/larceny-article.jpg); }

.assault {
  background: url(../img/assault-article.jpg); }

#articles-progress-filter [data-progress="all"] {
  border-top: 4px solid #bfbfbf; }

.green, .progress-complete > a > div, #articles-progress-filter [data-progress="complete"] {
  border-top: 4px solid #2dcc70; }

.red, .progress-new > a > div, #articles-progress-filter [data-progress="new"] {
  border-top: 4px solid #e74c3c; }

.yellow, .progress-underway > a > div, #articles-progress-filter [data-progress="underway"] {
  border-top: 4px solid #f5be27; }

/*  read article modal */
#primer span {
  margin-top: 30px; }

#primer h3 {
  margin-top: 0;
  margin-bottom: 30px; }

#primer .indent.indent-1 {
  margin-left: 30px; }

#primer .indent.indent-2 {
  margin-left: 60px; }

/* SEARCH */
.search-wrapper {
  position: relative; }
  .search-wrapper #search-box {
    height: 44px;
    padding-left: 8px; }
  .search-wrapper .search-clear {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    /* height: 30px; */
    background: #007aff;
    border-radius: 0 2px 2px 0;
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 30px; }

/*SCENARIO TILES*/
.scenario-tile, .larcenyA, .larcenyB, .larcenyC, .larcenyD {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 232px;
  display: block;
  color: #ffffff;
  margin-bottom: 30px; }

.larcenyA {
  background: url(../img/larceny-thumb1.jpg); }

.larcenyB {
  background: url(../img/larceny-thumb2.jpg); }

.larcenyC {
  background: url(../img/larceny-thumb3.jpg); }

.larcenyD {
  background: url(../img/larceny-thumb4.jpg); }

/*SCENARIOS*/
.scenario {
  padding: 0; }

.bar {
  position: fixed;
  bottom: 0;
  padding: 0;
  background: #ffffff;
  height: 65px; }

.box {
  background-color: #00060b;
  min-height: 130px;
  opacity: 0.9;
  width: 100%;
  position: absolute;
  bottom: 0px; }
  .box h4 {
    color: #ffffff;
    padding: 25px; }

.article p {
  font-size: 12px;
  color: #00060b;
  text-align: center;
  padding: 10px 0;
  margin: 0; }

.progress {
  height: 5px;
  width: 660px;
  margin: 0 auto;
  float: none; }

.progress-bar {
  float: none;
  -webkit-transition: .3s ease-out width;
  transition: .3s ease-out width; }

#articles-library {
  padding-top: 144px; }

#article, #scenario {
  padding-top: 40px; }

/*BACKGROUNDS*/
.banner {
  text-align: center;
  display: block;
  max-width: 485px;
  margin: 30px auto; }
  .banner h2 {
    font-weight: lighter;
    margin-top: 0; }
  .banner p {
    font-size: 11px;
    margin-bottom: 20px; }
  .banner span {
    text-transform: uppercase;
    margin: 0; }

.background, #article-banner {
  height: 240px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: lighter; }

#article-banner {
  background-repeat: no-repeat;
  margin-bottom: 20px; }

#testModal, #responseModal {
  text-align: center; }
  #testModal .modal-header .close, #responseModal .modal-header .close {
    position: absolute;
    right: 10px;
    top: -40px; }
  #testModal .modal-dialog, #responseModal .modal-dialog {
    margin-top: 60px;
    width: 350px; }
  #testModal .modal-content, #responseModal .modal-content {
    border-radius: 6px; }
  #testModal .modal-subtitle, #responseModal .modal-subtitle {
    display: inline-block;
    text-align: center;
    padding: 8px 12px;
    border-radius: 100%;
    background-color: green;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    text-transform: uppercase; }
    #testModal .modal-subtitle.incorrect, #responseModal .modal-subtitle.incorrect {
      background-color: red; }
  #testModal .btn, #responseModal .btn {
    border-radius: 0;
    padding: 16px; }
  #testModal .btn-primary, #responseModal .btn-primary {
    color: white;
    background-color: #007aff; }
  #testModal .btn-secondary, #responseModal .btn-secondary {
    color: #717171;
    background-color: #dcdcdc; }

/*
WEBSLIDE 2016
 */
ul, ol {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  padding: 0px;
  list-style: none; }

li {
  margin: 0px;
  padding: 0px; }

textarea {
  min-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 5px 0px 5px 0px; }

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  padding: 2px 2px;
  outline: none;
  display: block;
  background: #fff;
  text-indent: 4px;
  color: #2c2c2c;
  border: solid 1px #b9b9b9;
  border-radius: 2px; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.button, input[type="submit"], input[type="reset"], input[type="button"] {
  cursor: pointer;
  padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

img, object, embed, video {
  border: 0 none;
  max-width: 100%; }

a:focus {
  outline: none !important; }

.wsmenu-list > li:hover > a {
  text-decoration: none; }

.hometext {
  display: inline-block !important; }

.megacollink {
  width: 96% !important;
  margin: 0% 2% !important; }

.megacolimage {
  width: 90% !important;
  margin: 0% 5% !important; }

.typographylinks {
  width: 98% !important;
  margin: 0% 1% !important; }

.typographydiv {
  width: 86% !important;
  margin: 0% 7% !important; }

.mainmapdiv {
  width: 90% !important;
  margin: 0% 5% !important; }

.wsmenu-submenu .fa {
  margin-right: 7px; }

.overlapblackbg {
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.45);
  cursor: pointer; }

.overlapblackbg.menuopen {
  display: block; }

/* Default Theme */
.wsmenu-submenu > li:hover > a {
  color: #007aff; }

.wsmenu > .wsmenu-list > li > a.active {
  color: #007aff; }

.wsmenu > .wsmenu-list > li > a:hover {
  color: #007aff; }

.wsmenu-list li:hover .wsmenu-submenu {
  display: none; }

.wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub {
  display: none; }

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
  display: none;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff; }

.wsmenu-list li:first-child a {
  border-radius: 0px 0px 0px 0px; }

.wsmenu-list li:last-child a {
  border-radius: 0px 0px 0px 0px;
  border-right: 0px solid; }

.innerpnd {
  padding: 0px !important; }

.typography-text {
  padding: 10px 0px; }

/*Form for desktop */
.halfdiv {
  width: 35%;
  right: 0px !important;
  left: auto; }

.menu_form {
  width: 100%;
  display: block; }

.menu_form input[type="text"] {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px; }

.menu_form textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
  min-height: 122px; }

.menu_form input[type="submit"] {
  width: 25%;
  display: block;
  height: 28px;
  float: right;
  border: solid 1px #ccc;
  margin-right: 15px;
  border-radius: 2px; }

.menu_form input[type="button"] {
  width: 25%;
  display: block;
  height: 28px;
  float: right;
  border: solid 1px #ccc;
  border-radius: 2px; }

.wsoffcanvasopener .wsmenu {
  overflow-y: auto;
  left: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.wsmenucontainer.wsoffcanvasopener {
  display: block;
  margin-left: 240px; }

.wsmobileheader {
  display: block !important;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.wsmenu-list > li:hover > a {
  text-decoration: none; }

.hometext {
  display: inline-block !important; }

.megacollink {
  width: 96% !important;
  margin: 0% 2% !important; }

.megacolimage {
  width: 90% !important;
  margin: 0% 5% !important; }

.typographylinks {
  width: 98% !important;
  margin: 0% 1% !important; }

.typographydiv {
  width: 86% !important;
  margin: 0% 7% !important; }

.mainmapdiv {
  width: 90% !important;
  margin: 0% 5% !important; }

.overlapblackbg {
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.45);
  cursor: pointer; }

.wsoffcanvasopener .overlapblackbg {
  display: block !important; }

/* Default Theme */
.wsmenu-submenu > li:hover > a {
  color: #007aff; }

.wsmenu > .wsmenu-list > li > a.active {
  color: #007aff; }

.wsmenu > .wsmenu-list > li > a:hover {
  color: #007aff; }

.wsmenu-list li:hover .wsmenu-submenu {
  display: none; }

.wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub {
  display: none; }

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
  display: none;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff; }

.wsmenu-list li:first-child a {
  border-radius: 0px 0px 0px 0px; }

.wsmenu-list li:last-child a {
  border-radius: 0px 0px 0px 0px;
  border-right: 0px solid; }

.innerpnd {
  padding: 0px !important; }

.typography-text {
  padding: 10px 0px; }

.wsmenucontainer {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  min-height: 800px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* Mobile click to drop arrow */
.wsmenu-click {
  height: 43px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  cursor: pointer;
  width: 100%; }

.wsmenu-click i {
  display: block;
  height: 23px;
  width: 25px;
  margin-top: 11px;
  margin-right: 8px;
  background-size: 25px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.25);
  float: right;
  text-align: center; }

.wsmenu-click02 {
  height: 43px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  cursor: pointer;
  width: 100%; }

.wsmenu-click02 i {
  display: block;
  height: 23px;
  width: 25px;
  margin-top: 11px;
  margin-right: 8px;
  background-size: 25px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.25);
  float: right;
  text-align: center; }

.ws-activearrow > i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.wsmenu-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

/*2nd UL Style*/
.wsmenu-submenu-sub {
  width: 100% !important;
  position: static !important;
  left: 100% !important;
  top: 0 !important;
  display: none;
  margin: 0px !important;
  padding: 0px !important;
  border: solid 0px !important;
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 1 !important;
  visibility: visible !important; }

.wsmenu-submenu-sub li {
  margin: 0px 0px 0px 0px !important;
  padding: 0px;
  position: relative; }

.wsmenu-submenu-sub a {
  display: block;
  padding: 10px 25px 10px 25px;
  border-bottom: solid 1px #ccc;
  font-weight: normal; }

.wsmenu-submenu-sub li a.active {
  color: #000 !important; }

.wsmenu-submenu-sub li:hover > a {
  background-color: #333333 !important;
  color: #fff; }

.wsmenu-list > li > a .fa {
  margin-right: 6px; }

.wsmenu-submenu-sub-sub {
  width: 100% !important;
  position: static !important;
  left: 100% !important;
  top: 0 !important;
  display: none;
  margin: 0px !important;
  padding: 0px !important;
  border: solid 0px !important;
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 1 !important;
  visibility: visible !important; }

.wsmenu-submenu-sub-sub li {
  margin: 0px 0px 0px 0px !important; }

.wsmenu-submenu-sub-sub a {
  display: block;
  color: #000;
  padding: 10px 25px;
  background: #000 !important;
  border-bottom: solid 1px #ccc;
  font-weight: normal; }

.wsmenu-submenu-sub-sub li a.active {
  color: #000 !important; }

.wsmenu-submenu-sub-sub li:hover > a {
  background-color: #606060 !important;
  color: #fff; }

.wsmenu {
  position: relative; }

.wsmenu .wsmenu-list {
  height: 100%;
  display: block !important; }

.wsmenu .wsmenu-list > li {
  width: 240px;
  display: block;
  float: none;
  border-right: none;
  background-color: transparent;
  position: relative;
  white-space: inherit;
  padding: 15px;
  border-bottom: 1px solid #cacccd; }

.wsmenu > .wsmenu-list > li > a {
  font-size: 14px;
  text-align: left;
  border-right: solid 0px;
  background-color: transparent;
  color: #007aff;
  line-height: 20px;
  border-bottom-color: rgba(0, 0, 0, 0.13);
  position: static;
  display: block; }

.wsmenu > .wsmenu-list > li > a > .fa {
  font-size: 16px;
  color: #bfbfbf; }

.wsmenu .wsmenu-list li a .arrow:after {
  display: none !important; }

.wsmenu .wsmenu-list li ul li a .fa.fa-caret-right {
  font-size: 12px !important;
  color: #8E8E8E; }

.mobile-sub .wsmenu-submenu {
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 1 !important;
  display: none;
  position: relative !important;
  top: 0px;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 0px;
  visibility: visible !important; }

.mobile-sub .wsmenu-submenu li {
  position: relative; }

.mobile-sub .wsmenu-submenu li a {
  line-height: 20px;
  height: 36px;
  background-color: #e7e7e7 !important;
  font-size: 13px !important;
  padding: 8px 0px 8px 18px;
  color: #8E8E8E;
  display: block; }

.mobile-sub .wsmenu-submenu li a:hover {
  background-color: #e7e7e7  !important;
  color: #666666;
  text-decoration: underline; }

.mobile-sub .wsmenu-submenu li:hover > a {
  background-color: #e7e7e7 !important;
  color: #666666; }

.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a {
  line-height: 20px;
  height: 36px;
  background-color: #e7e7e7 !important;
  border-bottom: none;
  padding-left: 28px; }

.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a {
  line-height: 20px;
  height: 36px;
  background-color: #e7e7e7 !important;
  border-bottom: none !important;
  padding-left: 38px;
  color: #8e8e8e; }

.wsmenu-list .megamenu {
  background-color: #e7e7e7;
  color: #666666;
  display: none;
  position: relative !important;
  top: 0px;
  padding: 0px;
  border: solid 0px;
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 1 !important;
  visibility: visible !important; }

.wsmenu-list li:hover .megamenu {
  display: none;
  position: relative !important;
  top: 0px; }

.megamenu .title {
  color: #666666;
  font-size: 15px !important;
  padding: 10px 8px 10px 0px; }

.halfdiv .title {
  padding-left: 15px; }

.megamenu > ul {
  width: 100% !important;
  margin: 0px;
  padding: 0px;
  font-size: 13px !important; }

.megamenu > ul > li > a {
  padding: 9px 14px !important;
  line-height: normal !important;
  font-size: 13px !important;
  background-color: #e7e7e7 !important;
  color: #666666; }

.megamenu > ul > li > a:hover {
  background-color: #000000 !important; }

.ad-style {
  width: 100% !important; }

.megamenu ul li.title {
  line-height: 26px;
  color: #666666;
  margin: 0px;
  font-size: 15px;
  padding: 7px 13px !important;
  border-bottom: 1px solid #ccc;
  background-color: transparent !important; }

.halfdiv {
  width: 100%;
  display: block; }

.halfmenu {
  width: 100%;
  display: block; }

.menu_form {
  padding: 10px 10px 63px 10px;
  background-color: #e7e7e7; }

.menu_form input[type="button"] {
  width: 46%; }

.menu_form input[type="submit"] {
  width: 46%; }

.menu_form textarea {
  min-height: 100px; }

.wsmenu {
  width: 240px;
  left: -240px;
  height: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 0px;
  z-index: 100;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: none !important;
  background-color: #fff !important; }

/* Navigation arrow Animation */
.animated-arrow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.callusicon {
  color: #c9c9c9;
  font-size: 25px;
  position: absolute;
  right: 18px;
  top: 29px;
  z-index: 102;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  font-size: 19px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.callusicon:focus, callusicon:hover {
  color: #fff !important; }

.smallogo {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 9px;
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 52px;
  background: #262626;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(50%, #1c1c1c), color-stop(100%, #262626));
  background: -webkit-linear-gradient(top, #262626 0, #1c1c1c 50%, #262626 100%);
  background: linear-gradient(to bottom, #262626 0, #1c1c1c 50%, #262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#262626', GradientType=0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); }

.animated-arrow {
  cursor: pointer;
  padding: 13px 35px 16px 0px;
  margin: 7px 0 0 18px; }

.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
  cursor: pointer;
  height: 2px;
  width: 35px;
  background: #007aff;
  position: absolute;
  display: block;
  content: ''; }

.animated-arrow span:before {
  top: -9px;
  color: #ffffff !important; }

.animated-arrow span:after {
  bottom: -9px;
  color: #ffffff !important; }

.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.wsoffcanvasopener .animated-arrow span {
  background-color: transparent; }

.wsoffcanvasopener .animated-arrow span:before, .animated-arrow.active span:after {
  top: 9px; }

.wsoffcanvasopener .animated-arrow span:before {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 0px; }

.wsoffcanvasopener .animated-arrow span:after {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

/*Animation None */
.wsmenu-list li > .wsmenu-submenu {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important; }

.wsmenu-list li:hover > .wsmenu-submenu {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important; }

.wsmenu-submenu li > .wsmenu-submenu-sub {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important; }

.wsmenu-submenu li:hover > .wsmenu-submenu-sub {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important;
  opacity: 1  !important; }

.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important;
  opacity: 1  !important; }

.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important;
  opacity: 1  !important; }

.wsmenu-list li > .megamenu {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important;
  opacity: 1  !important; }

.wsmenu-list li:hover > .megamenu {
  transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  visibility: visible !important;
  opacity: 1  !important; }

/* Modal Windows */
.modal-body {
  padding: 15px 30px; }

.modal-bkgd {
  background: #00060b url("../img/modal-header.jpg") no-repeat center center; }
  .modal-bkgd h1 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    margin: 15px 0 0 0; }

.modal-dialog {
  width: 585px; }

.close {
  float: right;
  font-size: 35px;
  font-weight: lighter;
  line-height: 1;
  color: #ffffff;
  filter: alpha(opacity=20);
  position: relative;
  top: -55px;
  opacity: 1;
  text-shadow: none; }

.close:hover, .close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

.modal-article {
  border-bottom: 1px solid #cacccd;
  padding: 20px 0; }
  .modal-article span {
    color: #007aff;
    font-size: 13px; }
  .modal-article h2 {
    font-size: 32px;
    color: #00060b;
    margin: 0 0 15px 0;
    font-weight: lighter; }

.primer-articles {
  padding: 0 30px; }

.primer-articles li {
  list-style-type: decimal; }

/* QUESTIONS */
.questions {
  width: 280px;
  margin-top: 150px; }

.qa-wrap h4 {
  font-weight: bold;
  color: #50565b; }

.qa-wrap p {
  color: #50565b;
  margin: 5px 0 0 0; }

.qa-body {
  padding: 0; }

.btn-qa {
  padding: 18px 24px;
  width: 100%;
  display: block;
  text-align: center; }

.qa-btn {
  background-color: #ffffff;
  color: #007aff;
  text-decoration: none;
  border-bottom: 1px solid #cacfd4; }

.qa-btn:hover, .qa-btn:focus {
  background-color: #007aff;
  color: #ffffff;
  text-decoration: none; }

.incorrect h4 {
  color: #e74c3c; }

.correct h4 {
  color: #2dcc70; }

.answer h4 {
  font-weight: bold; }

/* LAYOUTS- Page Layout Styles*/
/* Navigation */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.nav-header {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 100; }

.nav-pills {
  width: auto;
  float: left;
  position: absolute; }
  .nav-pills li {
    border-right: 1px solid #d8d8d8; }

.nav-pills > li:last-child {
  border-right: none; }

.nav-pills > li + li {
  margin-left: 0px; }

.nav-pills > li > a {
  border-radius: 0px;
  padding: 10px 28px;
  background-color: #f1f1f1; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  border-radius: 0px; }

.nav > li > a:hover, .nav > li > a:focus {
  border-radius: 0px; }

.header {
  width: 100%;
  display: block;
  max-height: 43px;
  padding-top: 0px;
  background-color: #ffffff;
  background-size: cover;
  border-bottom: 1px solid #cacccd; }

.nav-header {
  background-color: #ffffff;
  min-height: 90px;
  display: block;
  padding: 23px 15px;
  margin-bottom: 30px; }

.title {
  color: #00060b;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 10px 0; }

.view, .exit {
  color: #007aff;
  font-weight: lighter;
  font-size: 18px;
  text-align: right;
  display: block;
  margin: 4px 0; }

.view a, .exit a {
  text-decoration: none; }

.exit {
  text-align: left;
  text-decoration: none; }

.subnav p {
  font-size: 18px;
  color: #007aff; }
