//Base
$base-font-size: 14px;
$base-font-family: "Open Sans", Arial, sans-serif;
$base-font-color: #50565b;

//Basic Colors
$blue-color:#007aff;
$white-color:#ffffff;
$grey-color:#cacccd;
$black-color:#00060b;
$dark-blue:#1b2631;

//Bar Colors
$green-color:#2dcc70;
$red-color:#e74c3c;
$yellow-color:#f5be27;
