.header{
	width:100%;
	display:block;
	max-height:43px;
	padding-top:0px;
	background-color:$white-color;
	background-size:cover;
	border-bottom:1px solid $grey-color; 
	}

.nav-header {
	background-color:$white-color;
	min-height:90px;
	display:block;
	padding:23px 15px;
	margin-bottom:30px;
}

.title {
	color:$black-color;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	margin:0px;
	padding:10px 0;
}

.view {
	color:$blue-color;
	font-weight:lighter;
	font-size:18px;
	text-align:right;
	display:block;
	margin:4px 0;
}

.view a {
	text-decoration:none;
}

.exit {
	@extend .view;
	text-align:left;
	text-decoration:none;
}

.subnav p {
	font-size:18px;
	color:$blue-color;
}