/* Navigation */

nav{
	position:fixed;
	top:0;
	width: 100%;
	z-index:100;
}

.nav-header{
	position:fixed;
	top:40px;
	width: 100%;
	z-index:100;
}

.nav-pills {
	border:1px solid $blue-color;
	width:auto;
	float:left;
	position:absolute;


	li {
	border-right: 1px solid $blue-color;
	}
}

.nav-pills > li:last-child {
	border-right:none;
}
.nav-pills > li + li {
	margin-left:0px;
}

.nav-pills > li > a {
	border-radius:0px;
	padding: 10px 28px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	border-radius:0px;
}

.nav > li > a:hover, .nav > li > a:focus {
	border-radius:0px;
}